.button {
  padding: 10px 20px;
  max-width: 130px;
  min-width: 60px;
  background-color: rgba(152, 226, 226, 0.74);
  // background-color: rgba(29, 73, 77, 0.683);
  border: 1px solid rgb(125, 19, 196);
  border-radius: 6px;
  box-shadow: 2px 6px 8px -2px #a09c9c;
  border-spacing: 0;
  outline: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  &:hover:not(:disabled),
  &:focus {
    background-color: #78beec;
    transform: scale(1.03);
  }
  &:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: auto;
  }
}

.buttonButton {
  @extend .button;
  background-image: linear-gradient(
    120deg,
    rgba(30, 218, 218, 0.6) 0%,
    rgba(74, 75, 77, 0.6) 100%
  );
}
